.message {
    background-color: lightgray;
    padding: 10px;
    margin-bottom: 10px;
    display: none;
}

.message.success {
    background-color: lightgreen;
    display: block;
}

.message.danger {
    background-color: lightcoral;
    display: block;
}